body > div > nav > div > div.wy-side-nav-search > a > img {
  width: 200px !important;
  height: 200px !important;
}

.rst-content table.docutils td:first-child, .rst-content table.docutils th:first-child, .rst-content table.field-list td:first-child, .rst-content table.field-list th:first-child, .wy-table td:first-child, .wy-table th:first-child {
  text-align: right !important;
}
